body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div{
    margin: 0;
    padding: 0;
}
@keyframes bgAnimation{
    from {
        background-color: white;
    }
    to {
        background-color: black;
        color: white;
    }
}
#test{
    background: transparent;
    border-radius: 3px;
    cursor: pointer;
}
.main{
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.anim-cont{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Papyrus', fantasy, serif;
    font-weight: bold;
    z-index: -100;
    overflow: hidden;
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    animation-name: bgAnimation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#anim{
    margin: 0px;
    padding: 0px;
}
.main-cont{
    display: flex;
    justify-content: center;
}
.text-container{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 80vh;
    width: 20rem;
    border-radius: 2em;
}
.container{
    background-color: black;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
.logo{
    height: 5vh;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
ul{
    margin:0;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    height: 5em;
    width: 8em;
}
a:hover{
    color: black;
}
li:hover{
    background-color: rgb(255, 255, 255);
    
}
/*@media screen and (max-width: 600px){
    body{
        background-color: rgb(212, 5, 5);
    }
}*/