body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{

}
.container{
    background-color: black;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    
}
a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
ul{
    margin:0;
}
li{
    height: max-content;
    width: max-content;
}