body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-cont{
    display: flex;
    justify-content: center;
}
.text-container{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 40rem;
    width: 20rem;
    border-radius: 2em;
}
.container{
    background-color: black;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}
ul{
    margin:0;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    width: 8em;
}
li:hover{
    background-color: rgba(255, 255, 255, 0.544);
    
}
@keyframes bgi{
 0% {left: 0px;}
 25% {left: 10vw; }
 50% {left: 20vw; }
 75% {left: 10vw; }
 100% {left: 0px}
}
.bg{
    position:absolute;
    z-index: -100;
    animation-name: bgi;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
